<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header>
        <img src="../assets/images/logo.jpg" alt="">
        <nav>
            <a href="#" routerLink = "/" >Home</a>
            <a href="#" routerLink = "/">About Us</a>
            <a href="#" routerLink = "/">Contact</a>
            <a href="#" routerLink = "/">Sign up</a>
        </nav>
    </header>
    <router-outlet></router-outlet>
</body>
</html>