<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
</head>
<body>
    <main>
        <div class="box1-wrapper">
            <img src="../../assets/images/home-img1.jpg" alt="">
            <h3>Tasty and Delicious</h3>
            <h2>Say hello to healthy <span>Green</span> foods.</h2>
            <div class="buttons">
                <button class="learn">Learn more</button>
                <button class="hungry">Hungry</button>
            </div>
        </div>
        <div class="box2-wrapper" id="learn-more">
            <h1>Be always hungry</h1>
            <div class="box2-container-wrapper">
                <div class="box2-container">
                    <i class="fas fa-stopwatch"></i>
                    <h3>READY IN MINUTES</h3>
                    <p>&nbsp;&nbsp; Dishes get ready within minutes of Order being placed. We have like minimum of 
                        100 different kind of professionals working with us.
                    </p>
                </div>
                <div class="box2-container">
                    <i class="fas fa-leaf"></i>
                    <h3>100% ORGANIC</h3>
                    <p>&nbsp;&nbsp; All our vegetables are fresh, organic and local. Animals are raised without added hormones 
                        or antibiotics. Good for your health, the environment, and it also tastes better!
                    </p>
                </div>
                <div class="box2-container">
                    <img src="../../assets/images/24hrs.png" alt="">
                    <h3>24/7 HELPLINE</h3>
                    <p>&nbsp;&nbsp; We have 24/7 customer support for our beloved customers and we solve their
                        problems and give them immmediate assist.
                    </p>
                </div>
            </div>
        </div>
        <h1 class="gallery">Image-Gallery</h1>
        <div class="box3-wrapper">
            <div class="img1-wrapper"> <img src="../../assets/images/food1.jpg" alt="">  </div>
            <div class="img2-wrapper"> <img src="../../assets/images/food2.jpg" alt="">  </div>
            <div class="img3-wrapper"> <img src="../../assets/images/food3.jpg" alt="">  </div>
            <div class="img4-wrapper"> <img src="../../assets/images/food4.jpg" alt="">  </div>
            <div class="img5-wrapper"> <img src="../../assets/images/food5.jpg" alt="">  </div>
            <div class="img6-wrapper"> <img src="../../assets/images/food6.jpg" alt="">  </div>
            <div class="img7-wrapper"> <img src="../../assets/images/food7.jpg" alt="">  </div>
            <div class="img8-wrapper"> <img src="../../assets/images/food8.jpg" alt="">  </div>
            
        </div>
        <div class="box4-wrapper">
            <h2>POPULAR VIP-MEMBERSHIP</h2>
            <div class="box4-content">
                <div class="box4-container">
                    <h2>PREMIUM</h2>
                    <h1>$500 <span> /month</span></h1>
                    <hr>
                    <ul>
                        <li><i class="fas fa-check"></i>  Order 24/7</li>
                        <li><i class="fas fa-check"></i>  1 free meal every day</li>
                        <li><i class="fas fa-check"></i>  Free delivery</li>
                        <li><i class="fas fa-check"></i>  20% offer</li>
                    </ul>
                    <button>Register</button>
                </div>
                <div class="box4-container">
                    <h2>PRO</h2>
                    <h1>$300 <span> /month</span></h1>
                    <hr>
                    <ul>
                        <li><i class="fas fa-check"></i>  Order 24/7</li>
                        <li><i class="fas fa-check"></i>  1 free meal every day</li>
                        <li><i class="fas fa-check"></i>  Free delivery</li>
                        <li><i class="fas fa-check"></i>  10% offer</li>
                    </ul>
                    <button>Register</button>
                </div>
                <div class="box4-container">
                    <h2>BASIC</h2>
                    <h1>100 <span> /month</span></h1>
                    <hr>
                    <ul>
                        <li><i class="fas fa-check"></i>  Order 24/7</li>
                        <li><i class="fas fa-times-circle"></i>  1 free meal every day</li>
                        <li><i class="fas fa-times-circle"></i>  Free delivery</li>
                        <li><i class="fas fa-check"></i>  10% offer</li>
                    </ul>
                    <button>Register</button>
                </div>
            </div>
        </div>
        <div class="box5-wrapper">
            <h2>OUR BRANCHES IN INDIA</h2>
            <div class="box5-content-wrapper">
                <div class="box5-contents">
                    <img src="../../assets/images/mumbai.jpg" alt="">
                    <h3>MUMBAI</h3>
                    <ul>
                        <li><i class="fas fa-users"></i> 10000+ happy customers</li>
                        <li><i class="fas fa-star"></i> 100+ top chefs</li>
                        <li><i class="fab fa-facebook"></i> @GreenFood/mumbai</li>
                    </ul>
                </div>
                <div class="box5-contents">
                    <img src="../../assets/images/tamilnadu.jpg" alt="">
                    <h3>TAMILNADU</h3>
                    <ul>
                        <li><i class="fas fa-users"></i> 10000+ happy customers</li>
                        <li><i class="fas fa-star"></i> 100+ top chefs</li>
                        <li><i class="fab fa-facebook"></i> @GreenFood/tamilnadu</li>
                    </ul>
                </div>
                <div class="box5-contents">
                    <img src="../../assets/images/kerela.jpg" alt="">
                    <h3>KERELA</h3>
                    <ul>
                        <li><i class="fas fa-users"></i> 10000+ happy customers</li>
                        <li><i class="fas fa-star"></i> 100+ top chefs</li>
                        <li><i class="fab fa-facebook"></i> @GreenFood/kerela</li>
                    </ul>
                </div>
                <div class="box5-contents">
                    <img src="../../assets/images/hyderabad.jpg" alt="">
                    <h3>HYDERABAD</h3>
                    <ul>
                        <li><i class="fas fa-users"></i> 10000+ happy customers</li>
                        <li><i class="fas fa-star"></i> 100+ top chefs</li>
                        <li><i class="fab fa-facebook"></i> @GreenFood/hyderabad</li>
                    </ul>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="footer-row-wrap">
            <div class="footer-row1">
                <p>About Us</p>
                <p>Blog</p>
                <p>Press</p>
                <p>iOS App</p>
                <p>Android App</p>
            </div>
            <div class="footer-row2">
                <p><i class="fab fa-facebook"></i></p>
                <p><i class="fab fa-instagram"></i></p>
                <p><i class="fab fa-twitter"></i></p>
                <p><i class="fab fa-google"></i></p>
            </div>
        </div>
        <h3><i class="fas fa-copyright"></i> 2020 Green Foods| With <i class="fas fa-heart"></i> by Jitiendran</h3>
    </footer>
</body>
</html>
